/* Media query for small screens */
@media (max-width: 767px) {
    .navbar-toggler-icon {
        background-color: #000; /* Black color for the toggle icon on mobile */
    }

}


    /* Style the hover effect for list items on small screens */
    .navbar-nav .nav-item:hover {
        background-color: #fff; /* Dark background color on hover */
        color: #0b0b0b; /* White text color on hover */
    }

    /* Remove the hover effect on the toggle icon */
    .navbar-toggler:hover {
        background-color: transparent;
    }

.navbar {
    height: 100px; /* Adjust the desired height */
}