<nav class="navbar navbar-expand-lg shadow " style="background-color: #ffc107;z-index: 1000; ">
    <div class="container-fluid">
        <a class="navbar-brand ms-3 fs-3 text-dark">Form Builder</a>
        <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse me-3 text-dark" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <!-- Home Link -->
                <li class="nav-item">
                    <a class="nav-link text-dark fs-5" aria-current="page" [routerLink]="['/']" style="transition: background-color 0.3s ease-in-out;">Forms</a>
                </li>
                <!-- Add Form Link -->
                <li class="nav-item" >
                    <a class="nav-link text-dark fs-5" [routerLink]="['/addform']" tabindex="-1" aria-disabled="true" style="transition: background-color 0.3s ease-in-out;">Add Form</a>
                </li>             
                <!-- Account Dropdown (Not Authenticated) -->
                <li class="nav-item dropdown" *ngIf="!authenticated">
                    <a class="nav-link dropdown-toggle text-dark fs-5" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="transition: background-color 0.3s ease-in-out;">Account</a>
                    <ul class="dropdown-menu text-dark  " aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item text-dark fs-5" (click)="logout()" style="transition: background-color 0.3s ease-in-out;">Logout</a></li>

                
                    </ul>
                </li>
                <!-- Account Dropdown (Authenticated) -->
                <li class="nav-item dropdown" *ngIf="authenticated">
                    <a class="nav-link dropdown-toggle text-dark fs-5" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="transition: background-color 0.3s ease-in-out;">Account</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" *ngIf="authenticated">
                        <li><a class="dropdown-item text-dark fs-5" (click)="logout()" style="transition: background-color 0.3s ease-in-out;">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
