<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport style="margin-top: 120px; width: 250px;"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-nav-list>
      <!-- <a class="fs-3 p-5" mat-list-item *ngFor="let item of sidebarItem">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.name }}</span>
      </a> -->
      <a *ngFor="let item of sidebarItem" class="list-group-item text-center d-flex justify-content-center align-items-center sidenav-link " style="height: 40px;padding: 35px;" >
        <span class="material-icons me-2" style="vertical-align: middle;">{{ item.icon }}</span>{{ item.name }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <!-- Add Content Here -->
    <h1 class="fs-2 fw-bold ms-5 mt-4">Add Form</h1>
    <div class="row justify-content-around mt-3 ">
      <div class="col-6 h-100  border border-dark border-1 rounded-1 shadow">1</div>
      <div class="col-4 h-100  border border-dark border-1 rounded-1 shadow">2 </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
