<ng-container *ngIf="formName" class="d-flex justify-content-center align-items-center">
    <form [formGroup]="FormSave" (ngSubmit)="formnameSave()">
      <h1 mat-dialog-title class="text-center">{{ inputData.title }}</h1>
      <div mat-dialog-content>
        <mat-form-field class="w-100">
            <mat-label>Form Name</mat-label>
            <input matInput formControlName="name" />
            <mat-error *ngIf="FormSave.get('name')?.hasError('required')">
              Form name is required
            </mat-error>
          </mat-form-field>
          
          
      </div>
      <div
        mat-dialog-actions
        class="d-flex justify-content-center"
        fxLayout="row"
        fxLayoutAlign="center center"
      >
        <button mat-dialog-close mat-raised-button color="warn">Close</button>
        <button mat-raised-button color="primary" type="submit">Save</button>
      </div>
    </form>
  </ng-container>

  <ng-container *ngIf="confirmDelete" class="d-flex justify-content-center align-items-center">
    <h1 mat-dialog-title>
      {{inputData.title}}
    </h1>
    
    <div mat-dialog-content>
      If the form is deleted, all associated registered data will also be removed.
       Are you sure you want to proceed with the deletion?
        </div>
    
    <div mat-dialog-actions class="d-flex justify-content-center align-items-center">
      <div>
        <button mat-button mat-dialog-close>No</button>
        <button mat-raised-button color="primary" (click)="onConfirm()">Yes</button>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="shareForm" class="d-flex justify-content-center align-items-center">
    <form>
      <h1 mat-dialog-title class="text-center">{{ inputData.title }}</h1>
      <div class="p-1">
        <share-buttons theme="circles-dark"
        [include]="['copy', 'facebook', 'email', 'messenger', 'linkedin', 'sms', 'telegram', 'twitter','whatsapp']"
        [showIcon]="true"
        [showText]="true"
        [url]="encodedString"
        [description]="inputData.formName"
      >
      </share-buttons>
      
      </div>
      
     
    </form>
  </ng-container>
  